*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url('assets/images/bgimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;  /* dark overlay */
    opacity: 0.73;            /* controls darkness */
    z-index: 1;               /* below content */
}

/* body{
    height: 100vh;
    width: 100%;
    opacity: 0.33;
    background-color: black;
} */

nav{
    display: flex;
    max-width: 92vw;
    margin: auto;
    padding: 0px 10px;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    padding-top: 10px;

}

nav img{

    width: 175px;
    height: 80px;
    color: red;

}

.lan-button{
    background-color:transparent;
    color: white;
    padding: 8px 30px ;
    border: 1px solid rgb(126, 110, 110);
    border-radius: 5px;
    margin-right: 5px;
    font-weight: bold;
}

.sing-button{
    background-color: red;
    padding: 8px 15px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.content{
    position: relative;
    z-index: 10;
    max-width: 80vw;
    margin: auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 25px;
    padding: 0 20%;
    text-align: center;
}

.content h1{
    font-size:380%;
    font-weight: bolder;
}

.email input{
    margin-right: 5px;
}

input{
    width: 350px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: large;
    background-color: rgba(29, 28, 28, 0.619);
    padding-left: 10px;
    font-weight: bold;
}


.getstart{
    width: 220px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    font-weight: bolder;
    font-size: x-large;
}

.line{
    border: 1px solid red;
    height: 4px;
    background-color: red;
}

footer{
    background-color: black;
}

.foot{
    display: flex;
    max-width: 80vw;
    margin: auto;
    gap: 50px;
    overflow-x: auto;
    scrollbar-width: thin;
  scrollbar-color: black;
}

.low{
    max-width: 80vw;
    margin: auto;
    padding: 35px 0px;
    font-size: x-large;
    font-weight: bold;
    color: white;
}

.card{
    flex: 0 0 auto;
    max-width: 80vw;
    margin: auto;
    width: 180px;
    height: 250px;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;

}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.textcard{
    background-color: black;
}

.down{
    color: white;
    max-width: 80vw;
    margin: auto;
    font-size: x-large;
    font-weight: bolder;
    padding-top: 50px;
    padding-bottom: 20px;
}

.tccard{
    max-width: 80vw;
    margin: auto;
    display: flex;
    gap: 20px;
}

.tcard{

    border: 1px solid black;
    width: 300px;
    height: 230px;
    border-radius: 12px;
    background-color: rgba(71, 2, 59, 0.332);
    padding: 12px 8px;
    color: white;
}

.tcard h2{
    margin-bottom: 20px;
}